<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-logo">Colmenas</div>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="dashboard.html" data-page="dashboard">
                <ion-icon name="home"></ion-icon>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="usuarios.html" data-page="usuarios">
                <ion-icon name="people"></ion-icon>
                <span>Usuarios</span>
            </a>
        </li>
        <li>
            <a href="colmenas.html" data-page="colmenas">
                <ion-icon name="business"></ion-icon>
                <span>Colmenas</span>
            </a>
        </li>
        <li>
            <a href="actividades.html" data-page="actividades">
                <ion-icon name="calendar"></ion-icon>
                <span>Actividades</span>
            </a>
        </li>
        <li>
            <a href="reportes.html" data-page="reportes">
                <ion-icon name="flag"></ion-icon>
                <span>Reportes</span>
            </a>
        </li>
        <li>
            <a href="encuestas.html" data-page="encuestas">
                <ion-icon name="clipboard"></ion-icon>
                <span>Encuestas</span>
            </a>
        </li>
        <li>
            <a href="notificaciones.html" data-page="notificaciones">
                <ion-icon name="notifications"></ion-icon>
                <span>Notificaciones</span>
            </a>
        </li>
    </ul>
</aside>
